$main-color: #40c4ff;

//Border Colors
$b-color-l-grey: #f2f2f2;

//Backgrounds Colors

$bg-color-yellow: #ffd740;
$bg-color-d-gray: #222222;
$bg-color-gray-cards: #f2f8fc;

//text color

$t-color-d-gray: #847b7b;
$t-color-m-gray: #959595;

//fonts
$main-font: "Roboto Slab", serif;
